In [1]:
import pandas as pd

In [2]:
climdiv_tmaxcy_texas = pd.read_csv("nclimdv/climdiv_tmaxcy_texas.csv", sep="  ", dtype={'state_fips_year':'str'})

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
texas_max = climdiv_tmaxcy_texas

In [4]:
texas_max['state_fips_year'] = texas_max['state_fips_year'].astype(str)
texas_max['state'] = texas_max['state_fips_year'].str[0:2]
texas_max['fips'] = texas_max['state_fips_year'].str[2:5]
texas_max['dtype'] = texas_max['state_fips_year'].str[5:7]
texas_max['year'] = texas_max['state_fips_year'].str[7:12]

In [5]:
texas_max = texas_max.reindex(columns=['year', 'fips', 'dtype', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep',
       'oct', 'nov', 'dec'])

In [6]:
climdiv_tmincy_texas = pd.read_csv("nclimdv/climdiv_tmincy_texas.csv", sep="  ", dtype={'state_fips_year':'str'})

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [7]:
texas_min = climdiv_tmincy_texas

In [8]:
texas_min['state_fips_year'] = texas_min['state_fips_year'].astype(str)
texas_min['state'] = texas_min['state_fips_year'].str[0:2]
texas_min['fips'] = texas_min['state_fips_year'].str[2:5]
texas_min['dtype'] = texas_min['state_fips_year'].str[5:7]
texas_min['year'] = texas_min['state_fips_year'].str[7:12]

In [9]:
texas_min = texas_min.reindex(columns=['year', 'fips', 'dtype', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep',
       'oct', 'nov', 'dec'])

In [10]:
climdiv_tmpccy_texas = pd.read_csv("nclimdv/climdiv_tmpccy_texas.csv", sep="  ", dtype={'state_fips_year':'str'})

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [11]:
texas_avg = climdiv_tmpccy_texas

In [12]:
texas_avg['state_fips_year'] = texas_avg['state_fips_year'].astype(str)
texas_avg['state'] = texas_avg['state_fips_year'].str[0:2]
texas_avg['fips'] = texas_avg['state_fips_year'].str[2:5]
texas_avg['dtype'] = texas_avg['state_fips_year'].str[5:7]
texas_avg['year'] = texas_avg['state_fips_year'].str[7:12]

In [13]:
texas_avg = texas_avg.reindex(columns=['year', 'fips', 'dtype', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep',
       'oct', 'nov', 'dec'])

In [14]:
texas_max.dtype = 'max'
texas_min.dtype = 'min'
texas_avg.dtype = 'avg'

In [18]:
fips_master = pd.read_csv("locational_data/fips_master.csv", sep="\t", dtype={'fips':'str'})

In [19]:
all_temp = pd.concat([texas_max, texas_avg, texas_min], ignore_index=True)

In [23]:
all_temp.head()

,year,fips,dtype,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1895,001,max,24.53,26.04,36.77,53.08,56.35,64.69,72.09,74.28,69.40,55.02,36.77,24.84
1,1896,001,max,35.89,34.50,33.57,47.91,61.27,72.57,75.83,76.46,65.75,55.56,34.52,38.98
2,1897,001,max,28.06,29.01,33.93,45.95,64.83,70.03,77.16,74.68,71.62,54.99,42.53,26.38
3,1898,001,max,26.49,35.67,36.52,52.95,54.86,72.03,78.21,78.26,68.29,50.74,34.70,25.25
4,1899,001,max,28.17,17.65,30.76,46.94,55.04,66.40,74.77,75.02,68.43,47.23,44.31,28.60

In [56]:
all_stuff = pd.merge(all_temp, fips_master, on='fips')

In [57]:
all_stuff = all_stuff.reindex(columns=['year', 'county_name', 'dtype', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep',
       'oct', 'nov', 'dec'])

In [58]:
sa_greater_counties = ['Atacosa','Bandera','Bexar','Comal','Guadalupe','Kendall','Medina','Wilson']

In [59]:
sa_greater_area = all_stuff.loc[all_stuff['county_name'].isin(sa_greater_counties)]

In [61]:
sa_greater_area.head()

,year,county_name,dtype,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
3375,1895,Bandera,max,26.06,25.72,37.90,57.42,59.40,66.00,77.23,78.53,69.19,56.08,39.02,29.93
3376,1896,Bandera,max,33.26,38.10,34.21,50.90,62.01,76.60,79.92,79.57,62.49,55.38,25.61,41.56
3377,1897,Bandera,max,30.4,30.69,31.89,48.94,67.17,69.51,77.04,76.21,74.01,53.94,36.09,28.76
3378,1898,Bandera,max,26.11,37.83,33.98,52.70,55.80,72.00,79.27,79.95,67.77,48.61,36.77,27.43
3379,1899,Bandera,max,31.57,14.58,27.43,51.04,60.87,71.29,80.74,79.93,73.45,50.07,50.68,31.59

In [46]:
bexar = all_stuff.loc[all_stuff['county_name'] == 'Bexar']

In [51]:
bexar.loc[all_stuff['year'] == '2019']

,year,county_name,dtype,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
5374,2019,Bexar,max,33.33,25.39,39.79,48.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5499,2019,Bexar,avg,23.14,15.33,26.17,38.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5624,2019,Bexar,min,12.94,5.27,12.54,27.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
# bexar.to_csv(r'/Users/codywatson/desktop/water_conservation_proposal/bexar_county_temp_data.csv')