In [2]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
from pandas.tools.plotting import autocorrelation_plot
from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [6]:
df_temp = pd.read_csv("temperature_data_cleaned_and_prepped.csv")
df_reservoir = pd.read_csv("reservoir_data/san-antonio_reservoir_data.csv")
df_PDSI = pd.read_csv("drought_data/PDSI_texas.csv", skiprows=[0,1])

In [7]:
df_PDSI.head()

     Date  Value
0  189501   0.32
1  189502   0.95
2  189503   0.56
3  189504   0.26
4  189505   1.19

In [ ]:
melt["date"] = pd.to_datetime(melt['date'], format='%Y-%m')