# Imports

In [1]:
import pandas as pd

# Bring in Data

In [2]:
bexar = pd.read_csv("bexar_county_temp_data.csv")

# Clean up Data

In [3]:
bexar.drop(columns=['Unnamed: 0','county_name'], inplace=True)

# Melt

In [4]:
bexar.head()

,year,dtype,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1895,max,24.96,27.88,35.51,55.49,57.78,61.16,71.82,72.84,60.75,53.69,35.69,26.87
1,1896,max,31.26,37.78,34.07,44.98,50.85,72.19,73.76,72.12,57.15,52.20,23.40,37.27
2,1897,max,29.66,29.64,28.72,47.17,64.49,63.23,70.12,72.63,66.13,47.19,33.24,24.42
3,1898,max,20.93,36.00,30.72,50.59,51.98,65.82,73.15,73.62,62.11,43.14,31.19,24.42
4,1899,max,26.47,18.82,28.90,45.72,52.93,65.16,76.28,71.04,65.61,47.19,41.25,27.46

In [5]:
melt = pd.melt(bexar, id_vars=['year','dtype'], var_name='month', value_name='temp')

In [6]:
melt.replace({'month' : { 
    'jan' : '01',
    'feb' : '02',
    'mar' : '03',
    'apr': '04',
    'may': '05',
    'jun': '06',
    'jul': '07',
    'aug': '08',
    'sep': '09',
    'oct': '10',
    'nov': '11',
    'dec': '12'
}}, inplace=True)

In [7]:
melt.sort_values(by=['year','month'], inplace=True)

In [8]:
melt["date"] = melt["year"].map(str) + '/' +melt["month"]

In [9]:
melt["date"] = pd.to_datetime(melt['date'], format='%Y-%m')

In [10]:
melt.drop(columns=['year','month'], inplace=True)

In [11]:
melt.dropna(inplace=True)

In [12]:
melt.drop(melt.index[-12:], inplace=True)

In [13]:
melt = melt.set_index('date')

In [14]:
melt.tail()

           dtype   temp
date
2018-11-01   avg  26.73
2018-11-01   min  16.84
2018-12-01   max  30.33
2018-12-01   avg  20.64
2018-12-01   min  10.96

In [16]:
# melt.to_csv(r'/Users/codywatson/desktop/water_conservation_proposal/temperature_data_cleaned_and_prepped_for_exploration.csv')